<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>SpringBoot Sample3-1</title>
  <style>
    .container {
      display: flex;
      gap: 10px;
      /* フォーム間の間隔 */
    }
  </style>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>
  <h1>JANKEN GAME!</h1>
  <p>・エントリー</p>

  <div th:if="${room}">
    <ul>
      <!--eachは所謂for each．この場合roomオブジェクトのusersフィールドにあるすべてのデータを一通り表示する
          thが指定されているので[]が不要になる-->
      <li th:each="user : ${room.users}">[[${user}]]</li>
    </ul>
  </div>

  <h3>HI！<div sec:authentication="name"></div>
  </h3>

  <div class="container">
    <form th:action="@{/janken/gu}" method="post">
      <input type="submit" value="グー">
    </form>
    <form th:action="@{/janken/tyo}" method="post">
      <input type="submit" value="チョキ">
    </form>
    <form th:action="@{/janken/pa}" method="post">
      <input type="submit" value="パー">
    </form>
  </div>
  <div th:if="${janken}">
    あなたの手：[[${janken.player}]]<br />
    相手の手：[[${janken.computer}]]<br />
    結果：[[${janken.result}]]<br />
  </div>


</body>
