<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>SpringBoot Sample3-1</title>
  <script>
    window.onload = function () {
      const sse = new EventSource('/allmatches');
      sse.onmessage = function (event) {
        console.log("sse.onmessage")
        console.log(event.data);

        const matches = JSON.parse(event.data);
        const resultDiv1 = document.getElementById('result');

        let resultText = '';
        for (let i = 0; i < matches.length; i++) {
          let result = '';
          if (matches[i].result === 0) {
            result = 'あいこ';
          } else if (matches[i].result === matches[i].user1) {
            result = 'user1の勝ち';
          } else if (matches[i].result === matches[i].user2) {
            result = 'user2の勝ち';
          }
          resultText += `
                    <tr>
                        <td>ID: ${matches[i].id}</td>
                        <td>user1: ${matches[i].user1}</td>
                        <td>user2: ${matches[i].user2}</td>
                        <td>user1の手: ${matches[i].user1Hand}</td>
                        <td>user2の手: ${matches[i].user2Hand}</td>
                        <td>${result}</td>
                    </tr>
                `;
        }
        resultDiv1.innerHTML = resultText;

      }
    }
  </script>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>
  <h1>JANKEN GAME!</h1>


  <h3>HI！<span sec:authentication="name"></span></h3>

  <h1>・エントリー</h1>




  <div th:if="${users}">
    <ul>
      <li th:each="user : ${users}"><a th:href="@{/match(id=${user.id})}">[[${user.name}]]</a></li>
    </ul>
  </div>


  <h1>アクティブな試合</h1>

  <div th:if="${matchinfos}">
    <tr th:each="match : ${matchinfos}">
      <td>ID:[[${match.id}]]</td>
      <td>user1:[[${match.user1}]]</td>
      <td>user2:[[${match.user2}]]</td>
      <td>isActive:[[${match.isActive}]]</td>
    </tr>
  </div>

  <h1>試合結果</h1>

  <div th:if="${matches}">
    <table>
      <tbody id ="result">
        <tr th:each="match : ${matches}">
          <td>ID:[[${match.id}]]</td>
          <td>user1:[[${match.user1}]]</td>
          <td>user2:[[${match.user2}]]</td>
          <td>user1の手:[[${match.user1Hand}]]</td>
          <td>user2の手:[[${match.user2Hand}]]</td>
          <td>
            <span th:switch="${match.result}">
              <span th:case="0">あいこ</span>
              <span th:case="${match.user1}">user1の勝ち</span>
              <span th:case="${match.user2}">user2の勝ち</span>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</body>

</html>